
.icon-home:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-briefcase-1:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */